html,body { width:100%; height:100vh;padding:0;margin:0;} /*这行设置能实现单层满屏显示*/
.swiper-container { width: 100%; height: 100vh;} /*这行设置能实现单层满屏显示*/
.p1 { background-color:#E13437;} /*p1层的背景色*/
.p2 { background-color:#9C2ACE;} /*p2层的背景色*/
.p3 { background-color:#317AC7;} /*p3层的背景色*/